.color_red{
    color:red
}

.tile-header {
    width: 100% !important;
    float: none !important;
}
.tile-body .form-group label {
    font-size: 14px !important;
    font-weight: bold;
    color: #8a8a8a;
    text-align: left;
    width: 160px;
}
label.data-label {
    width: 70% !important;
    font-weight: 500 !important;
}

.img_preview{
    width: 20%;
    height: 20%;
}