<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-key"></i> <span style="font-size: 18px;">Reset Password</span>
				</div>
				<form #resetForm="ngForm" (ngSubmit)="onFormSubmit(resetForm)" autocomplete="off">
					<div class="card-body">
						<div class="form-group grouping-strains row">

							<div class="col-md-6">
								<div class="group-control">
									<label for="email">Email <span class="mandatory">*</span></label>
									<input id="email" type="email" ngModel name="email" #email="ngModel" required class="form-control" placeholder="Enter your email" [ngClass]="{ 'is-invalid': resetForm.submitted && email.errors }">
									<div *ngIf="resetForm.submitted && email.errors">
										<div class="invalid-feedback" *ngIf="email.errors.required">Email is required.</div>
										<div class="invalid-feedback" *ngIf="email.errors.email">Enter a valid email.</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="group-control">
									<label for="currpassword">Current Password <span class="mandatory">*</span></label>
									<div class="input-group">
										<input id="currpassword" type="password" ngModel name="currpassword" #currpassword="ngModel" required class="form-control" placeholder="Enter current password">
										<span class="input-group-text" (click)="togglePasswordVisibility('currpassword')">
											<i class="fa" [ngClass]="{'fa-eye': passwordVisible.currpassword, 'fa-eye-slash': !passwordVisible.currpassword}"></i>
										</span>
									</div>
									<div *ngIf="resetForm.submitted && currpassword.errors">
										<div class="invalid-feedback">Current password is required.</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="group-control">
									<label for="password">New Password <span class="mandatory">*</span></label>
									<div class="input-group">
										<input id="password" [type]="passwordVisible.password ? 'text' : 'password'" ngModel name="password" #password="ngModel" autocomplete="new-password" required class="form-control" minlength="8" maxlength="18" placeholder="Enter new password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&]).{8,}">
										<span class="input-group-text" (click)="togglePasswordVisibility('password')">
											<i class="fa" [ngClass]="{'fa-eye': passwordVisible.password, 'fa-eye-slash': !passwordVisible.password}"></i>
										</span>
									</div>
									<div *ngIf="resetForm.submitted && password.errors">
										<div class="invalid-feedback" *ngIf="password.errors.required">New password is required.</div>
										<div class="invalid-feedback" *ngIf="password.errors.pattern">Password must contain lowercase, uppercase, number, and special character.</div>
										<div class="invalid-feedback" *ngIf="password.errors.minlength">Minimum 8 characters required.</div>
										<div class="invalid-feedback" *ngIf="password.errors.maxlength">Maximum 18 characters allowed.</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="group-control">
									<label for="confirm_password">Confirm Password <span class="mandatory">*</span></label>
									<div class="input-group">
										<input id="confirm_password" [type]="passwordVisible.confirm_password ? 'text' : 'password'" ngModel name="confirmPassword" #confirm_password="ngModel" required class="form-control" placeholder="Confirm new password">
										<span class="input-group-text" (click)="togglePasswordVisibility('confirm_password')">
											<i class="fa" [ngClass]="{'fa-eye': passwordVisible.confirm_password, 'fa-eye-slash': !passwordVisible.confirm_password}"></i>
										</span>
									</div>
									<div *ngIf="resetForm.submitted && (confirm_password.errors || (password && password.value !== confirm_password.value))">
										<div class="invalid-feedback" *ngIf="confirm_password.errors && confirm_password.errors.required">Confirm Password is required.</div>
										<div class="invalid-feedback" *ngIf="password && password.value !== confirm_password.value">Password and Confirm Password do not match.</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="card-footer">
						<button type="submit" [disabled]="submitebtn" class="btn btn-sm btn-success">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
