<div class="modal fade" role="dialog" [ngStyle]="{'display': spinner}" aria-hidden="true" style="opacity: 99999">
<div class="spinner"></div>

    <!-- <div class="dash-loader">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->
   