<app-common-table [settings]="settings" [source]="source" [count]="count" [itemsPerPage]="default_limit"
    [tablename]="'Notification List'" [add_btn]="add_btn" [addBtnUrl]="addBtnUrl" [addBtnName]="addBtnName"
    [editUrl]="editUrl" [deleteApis]="deleteApis" [restoreApis]="restoreApis" (onDeleteChange)="onDeleteChange($event)"
    (onitemsPerPageChange)="onitemsPerPageChange($event)" [card_details]="card_details"
    (onPageChange)="onPageChange($event)" (onheaderCardChange)="onheaderCardChange($event)"
    (onSearchChange)="onSearchChange($event)" [activeBulkAction]="activeBulkAction" [bulk_action]="bulk_action" [deletestatus]=""deletestatus>
</app-common-table>

