p.custom-font {
    font-size: 15px;
    color: #464545;
    font-weight: 600;
}
p.custom-font a i {
    font-size: 18px;
    color: #009688;
}
p.custom-font input {
    border: 1px solid #ddd;
}
.color_red{
    color:red
}