<div class="animated fadeIn">
    <div class="row" *ngIf="!companysubadmin && !trainerData && !companydata">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-3 mb-3 " for="company">Company<span class="text-danger">*</span></label>
                                <ng-select [items]="companynames" bindLabel="companyname" bindValue="_id" [(ngModel)]="selectedcomp"
                                    class="form-control custom-ng-select p-0 col-md-9 mb-9" placeholder="Select Company"
                                    (change)="getUsers()"></ng-select>
                            </div>
                        </div>
                    
                        <div class="col-md-6" *ngIf="SelectedCompany" style="    font-size: 11px;line-height: 5px;">
                            <table class="table table-bordered">
                                <thead style="background: #646E7A;; color: white;">
                                    <th>Max User Limit</th>
                                    <th>Already Assigned</th>
                                    <th>Avaliable Licences</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{SelectedCompany.activeusers}}</td>
                                        <td>{{SelectedCompany.totalusers}}</td>
                                        <td>{{SelectedCompany.activeusers - SelectedCompany.totalusers}}</td>
                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-2" *ngIf="GridData.length !=0">
                            <button class="btn btn-success" (click)="downloadExcel()" ><i class="fa fa-download"></i> Download </button>
                        </div>
                    </div>
                </div>
                <div class="card-body " *ngIf="GridData.length !=0">
                    <!-- <h1>sdfsd</h1> -->
                    <dx-data-grid #dataGridVar id="dataGridVar" [height]="450"  [showBorders]="true" [dataSource]="GridData" [remoteOperations]="false"
                        [allowColumnReordering]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true" keyExpr="_id"
                        (onContentReady)="contentReady($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                        <dxo-paging [pageSize]="100"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[ 50, 100,150]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                         <dxo-selection mode="multiple" showCheckBoxesMode="always"  [allowSelectAll]="true" deferred="true" selectAllMode="allPages"></dxo-selection>
                        <!-- <dxi-column dataField="isActive" caption="Active"> deferred="true"  key="_id"
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <dx-check-box [(value)]="data.value"
                                    (onValueChanged)="onCheckboxValueChanged(data.data, $event)"></dx-check-box>
                            </div>
                        </dxi-column> -->
                        <dxi-column dataField="username" dataType="string" caption="User Name"></dxi-column>
                        <dxi-column dataField="email" dataType="string" caption="Email"></dxi-column>
                        <dxi-column dataField="mobile" dataType="string" caption="Mobile"></dxi-column>
                        <dxi-column dataField="course" dataType="string" caption="Course"></dxi-column>
                        <dxi-column dataField="year" dataType="string" caption="Year"></dxi-column>
                        <dxi-column dataField="city" dataType="string" caption="City"></dxi-column>
                        <dxi-column dataField="password" dataType="string" caption="Password"></dxi-column>
                    
                    
                    </dx-data-grid>
                    <button class="btn btn-success" (click)="onGetSelectedRowsData()">Send Password</button>
                </div>
            </div>
        </div>
    </div>
</div>