<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-paperclip"></i> <span style="font-size: 18px;">Change Password</span>
                </div>
                <form #changePasswordForm="ngForm" (ngSubmit)="onFormSubmit(changePasswordForm)" autocomplete="off">
                    <div class="card-body">
                        <div class="form-group grouping-strains row">
                            <!-- Current Password Field -->
                            <div class="col-md-6">
                                <div class="group-control">
                                    <label for="currpassword">Current Password <span class="mandatory">*</span> </label>
                                    <div class="input-group">
                                        <input type="password" id="currpassword" ngModel name="currpassword" #currpassword="ngModel" required class="form-control" placeholder="Enter the current password" [ngClass]="{ 'is-invalid': changePasswordForm.submitted && currpassword.errors }" [ngClass]="{ 'is-valid': changePasswordForm.submitted && !currpassword.errors }">
                                        <span class="input-group-text" (click)="togglePasswordVisibility('currpassword')">
                                            <i class="fa" [ngClass]="{'fa-eye': passwordVisible.currpassword, 'fa-eye-slash': !passwordVisible.currpassword}" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div *ngIf="changePasswordForm.submitted && !currpassword.valid">
                                        <div class="invalid-feedback" *ngIf="currpassword.errors.required">Current password is required.</div>
                                    </div>
                                </div>
                            </div>

                            <!-- New Password Field -->
                            <div class="col-md-6">
                                <div class="group-control">
                                    <label for="password">New Password <span class="mandatory">*</span></label>
                                    <div class="input-group">
                                        <input type="password" [type]="passwordVisible.password ? 'text' : 'password'" id="password" ngModel name="password" #password="ngModel" autocomplete="new-password" required class="form-control" minlength="8" maxlength="18" placeholder="Enter New Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&]).{8,}" [ngClass]="{ 'is-invalid': changePasswordForm.submitted && password.errors }" [ngClass]="{ 'is-valid': changePasswordForm.submitted && !password.errors }">
                                        <span class="input-group-text" (click)="togglePasswordVisibility('password')">
                                            <i class="fa" [ngClass]="{'fa-eye': passwordVisible.password, 'fa-eye-slash': !passwordVisible.password}" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div *ngIf="changePasswordForm.submitted && !password.valid">
                                        <div class="invalid-feedback" *ngIf="password.errors && password.errors.required">Password is required.</div>
                                        <div class="invalid-feedback" *ngIf="password.errors && password.errors.pattern">Password must contain lowercase, uppercase, number, and special character</div>
                                        <div class="invalid-feedback" *ngIf="password.errors && password.errors.minlength">Minimum 8 characters required</div>
                                        <div class="invalid-feedback" *ngIf="password.errors && password.errors.maxlength">Maximum 18 characters required</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Confirm Password Field -->
                            <div class="col-md-6">
                                <div class="group-control">
                                    <label for="confirm_password">Confirm Password <span class="mandatory">*</span></label>
                                    <div class="input-group">
                                        <input type="password" [type]="passwordVisible.confirm_password ? 'text' : 'password'" id="confirm_password" ngModel name="confirmPassword" #confirm_password="ngModel" required class="form-control" placeholder="Enter Confirm Password" [ngClass]="{ 'is-invalid': changePasswordForm.submitted && (confirm_password.errors || password.value !== confirm_password.value) }" [ngClass]="{ 'is-valid': changePasswordForm.submitted && !confirm_password.errors && password.value === confirm_password.value }">
                                        <span class="input-group-text" (click)="togglePasswordVisibility('confirm_password')">
                                            <i class="fa" [ngClass]="{'fa-eye': passwordVisible.confirm_password, 'fa-eye-slash': !passwordVisible.confirm_password}" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div *ngIf="changePasswordForm.submitted && !confirm_password.valid">
                                        <div class="invalid-feedback" *ngIf="confirm_password.errors && confirm_password.errors.required">Confirm Password is required.</div>
                                    </div>
                                    <div *ngIf="changePasswordForm.submitted && password.value !== confirm_password.value">
                                        <div class="invalid-feedback">Password and Confirm Password do not match.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" [disabled]="submitebtn" class="btn btn-sm btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
