<!-- <div class="batch_lists_page"> -->
    <div style="float: right;margin-bottom: -12px !important;">From Date & To Date = Batch Start Date & Batch End Date</div>
<app-common-table [settings]="settings" [source]="source" [count]="count" [itemsPerPage]="default_limit"
    [tablename]="'Batch Lists'" [add_btn]="add_btn" [addBtnUrl]="addBtnUrl" [addBtnName]="addBtnName" [editUrl]="editUrl"
    [deleteApis]="deleteApis" [category]="category" [restoreApis]="restoreApis" [inactiveApis]="inactiveApis"
    [ActiveApis]="userActive" (onDeleteChange)="onDeleteChange($event)" [viewUrl]="viewUrl" [exportApis]="exportApis"
    [filter_action_list]="filter_action_list" (onitemsPerPageChange)="onitemsPerPageChange($event)"
    [card_details]="card_details" [bulk_action]="bulk_action" (onPageChange)="onPageChange($event)" [adduserUrl]="adduserUrl"
    (onheaderCardChange)="onheaderCardChange($event)" (onInactivechange)="onInactivechange($event)"  [batchlisting]="batchlisting" [companybatchlisting]="companybatchlisting"
    (onSearchChange)="onSearchChange($event)" (onFilterAction)="onFilterAction($event)" [filter_action]="filter_action"
    [user_list_filter_action]="user_list_filter_action" [permanentdelete]="permanentdelete" [deletestatus]="deletestatus"
    [activeBulkAction]="activeBulkAction">
</app-common-table>

<!-- </div> -->
    