.login-logo {
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
}

.login-logo img {
    max-width: 100px;
}

.text-muted {
    text-align: center;
}


// .background-image {
//     background-image: url('assets/img/backgroundimagae.jpg');
//     /* Add additional styles if necessary */
//     background-size: cover; /* Make the image cover the entire div */
//     background-position: center; /* Center the background image */
//     background-repeat: no-repeat; /* Prevent the background image from repeating */
//   }
  