.login-logo {
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
}

.login-logo img {
    max-width: 100px;
}

.text-muted {
    text-align: center;
}


// .background-image {
//     background-image: url('assets/img/backgroundimagae.jpg');
//     /* Add additional styles if necessary */
//     background-size: cover; /* Make the image cover the entire div */
//     background-position: center; /* Center the background image */
//     background-repeat: no-repeat; /* Prevent the background image from repeating */
//   }

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Outer light circle */
.outer-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #f1f3f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inner circle */
.inner-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 2px #e6e9ec;
}

/* User icon */
.inner-circle i {
  font-size: 20px;
  color: #0a6c8e; /* teal-blue like your image */
}

  